DEBUG=on
SECRET_KEY=***************
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
SOCIAL_AUTH_FACEBOOK_KEY = # Facebook App ID
SOCIAL_AUTH_FACEBOOK_SECRET =  # Facebook App Secret
SOCIAL_AUTH_TWITTER_KEY=
SOCIAL_AUTH_TWITTER_SECRET=
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=